@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.group-bar-container{
  background-color: #1e1e1e;
  padding: 10px;
  margin: 10px;
  width: 30vw;
  height: 90vh;
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
}

.members-container{
  background-color: #1e1e1e;
  margin: 10px;
  padding: 10px;
  width: 70vw;
  height: 90vh;
  border: 1px solid rgba(255, 255, 255, 0.162);
  border-radius: 10px;
  margin-left: 0;
}

.members-top-bar{
  padding: 20px;
}

.navBar{
  background-color: #1e1e1e;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.source-button {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  margin: 5px;
  padding: 7px 17px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.source-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.nav-button{
  margin: 5px;
  padding: 7px 17px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.groups-container{
  height: 80%;
  max-height: 80%;
  overflow-y: scroll;
  padding: 15px;
}

.footer{
  color: #5b5b5b;
  padding: 5px;
  text-align: center;
  margin: 20px;
}

.feature-element{
  display: flex;
  flex-direction: column;
  width: 250px;
  font-weight:400;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.13);
  margin: 20px;
  text-align: center;
  border-radius: 25px;
  transition: border-color 0.3s ease;
  padding: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0px 10px 11px rgba(2, 107, 255, 0.2)
}

.feature-element:hover{
  border-color: #3a7bd57f;
}

.icon-container{
  width: 30px;
  margin: 20px;
  justify-content: center;
}